* {
  margin: 0;
  padding: 0;
  font-family: Sans-Serif;
}

header {
  width: 100%;
  background-image: url("./images/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  flex-direction: column;
  height: auto;
}

header .titulo {
  text-align: center;
  margin: 5% 0 15% 0;
  font-size: 60px;
  font-weight: bolder;
  color: white;
  width: 100%;
}
header .presentacion {
  width: 320px;
  font-size: 35px;
  color: white;
  background-color: #729afe7e;
  padding: 15px;
  margin-left: 10%;
  margin-bottom:15%;
  border-radius: 8px;
}


.sobre-mi {
  width: 100%;
  color: #fff;
  background-color: #7299fe;
  display: flex;
  flex-direction: column;
}
.sobre-mi h2 {
  color: #1d06a7;
  margin-top: 10px;
  padding: 20px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.sobre-mi p {
  width: 90%;
  margin: 20px auto;
  line-height: 35px;
  text-align: justify;
}

.sobre-mi button {
  padding: 20px 30px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  width: 160px;
  border-radius: 15px;
  border: 0px;
  background: #d16fff;
  margin-left: 5%;
  margin-bottom: 60px;
}

.mis-skills {
  display: flex;
  color: #fff;
  flex-wrap: wrap;
  background: #9d22ff;
  padding-bottom: 50px;
}

.mis-skills h2 {
  margin: 20px 0;
  width: 100%;
  text-align: center;
  color: #26cc4b;
}
.mis-skills .skill {
  width: 50%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 2% auto;
}
.mis-skills div h4 {
  margin: 20px;
}
.mis-skills div .barra {
  width: 90%;
  height: 20px;
  margin: 5px auto;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  justify-content: start;
}
.barra div {
  background: #57eff9;
  height: 50px;
  border-radius: 8px;
}
.barra .phtml {
  width: 80%;
}
.barra .pcss {
  width: 15%;
}
.barra .pvue {
  width: 80%;
}
.barra .pjs {
  width: 50%;
}
.barra .pflex {
  width: 90%;
}
.barra .pgrid {
  width: 44%;
}
.portafolio {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 40px 80px 40px;
  background: #ffd233;
}
.portafolio h2 {
  width: 100%;
  padding-bottom: 40px;
  text-align: center;
  color: #00ad84;
}
.portafolio div {
  width: 20%;
  padding: 3px;
}
.portafolio div img {
  width: 100%;
}

.clientes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 30px 50px 70px 50px;
  background: #3f4e62;
  color: #adff28;
}
.clientes h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.clientes div {
  width: 20%;
}

.clientes div img {
  width: 100%;
}

/** Comtacto**/

.contacto{
 display: flex;
 flex-direction: column;
 align-items: center;
  background-color: rgba(22, 135, 160, 1);
}
.contacto h2{
  color: rgba(255, 27, 27, 1);
  text-align: center;
  padding: 20px;
}
.contacto .form{
  width: 80%;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.contacto .form input{
  width: 45%;
  height: 60px;
  margin-bottom: 4%;
  padding-left: 20px;
  color: #000;
}


.contacto .form .textarea{
  width: 100%;
  padding: 0 20px;
  margin-bottom: 40px;
}

.contacto .form  textarea{
  width: 100%;
  height: 120px;
  padding-top: 20px;
  padding-left: 20px;
  color: #000;
}
.contacto .form button{
  background-color: rgba(35, 52, 81, 1);
  border: none;
  padding: 20px 35px;
  font-size: 1em;
  color: #fff;
  margin:10% auto;
}



@media (max-width: 1000px) {
  header {
    justify-content: center;
  }

  header .titulo {

    margin: 15% 0 15% 0;
    width: 100%;
  }
  header .presentacion {
    padding: 15px;
    margin: 15% auto;
  }


  .sobre-mi button {
    margin: 10% auto;
  }

  .mis-skills .skill{
    width: 90%;
    margin: auto;
  }

  .portafolio div{
    width: 40%;
  }
  .clientes{
    align-items: center;
  }

  .clientes div{
    width: 40%;
    margin: 2% auto;
  }

  .contacto .form input{
    width: 100%;
  }

  @media (max-width: 500px) {
    header {
      justify-content: center;
    }
  
    header .titulo {
  
      margin: 15% 0 15% 0;
      width: 100%;
    }
    header .presentacion {
      padding: 15px;
      margin: 15% auto;
    }
  
  
    .sobre-mi button {
      margin: 10% auto;
    }
  
    .mis-skills .skill{
      width: 90%;
      margin: auto;
    }
  
    .portafolio div{
      width: 80%;
    }
  
    .clientes div{
      width: 820%;
      margin: 2% auto;
    }
  
  }
  
}


  
